# Ignore Visual Studio files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignore ReSharper files
_ReSharper*/
*.resharper.user

# Ignore build output
bin/
obj/

# Ignore NuGet packages
packages/

# Ignore Windows Forms Designer files
*.Designer.cs